.latest-articles-widget{
	
	.title{
		text-align: center;
		margin-bottom: 10px;
		font-weight: bold;
	}
	
	.carousel-indicators{
		height: 20px;
		top: 10px;
	}
	
	.carousel-item{
		img{
			width: 100%;
		}
		
		.carousel-caption{
			bottom: 5px;
			left: 5px;
			right: 5px;
			padding-bottom: 5px;
			padding-top: 5px;
			background-color: rgba(255, 255, 255, 0.9);
			border-radius: 3px;
		}
	}
}