@import "../../../../css/_variables.scss";

.popular-articles-widget{
	padding: 5px;
	
	.btn-group{
		width: 100%;
		
		button{
			text-transform: capitalize;
		}
	}
	
	.title{
		text-align: center;
		margin-bottom: 10px;
		font-weight: bold;
	}
	
	.articles-wrapper{
		margin-top: 10px;
		
		.item{
			margin-bottom: 10px;
			font-size: 15px;
			
			.position{
				display: inline-block;
				width: 20px;
				height: 20px;
				background-color: #359ff3;
				color: #ffffff;
				border-radius: 100%;
				text-align: center;
			}
		}
	}
}