.user-articles{
	
	h4{
		margin-bottom: 15px;
	}
	
    .user-article{
		margin: 10px 0px;
		padding-right: 5px;
		box-shadow: 3px 3px 7px 0px #7a797a;
		
		img{
			float: left;
			width: 125px;
			margin-right: 10px;
		}
		
		.header{
			font-size: 14px;
			color: #333333;
			text-transform: capitalize;
		}
		
		.title{
			font-weight: bold;
		}
	}
}