@import "css/_variables";
@import "~bootstrap/scss/bootstrap";

body{
	background: $background;
	background-size: $background-size;
	font-family: $font-family;
	color: $body-color;
	
	:focus {
		outline:none;
	}

	::-moz-focus-inner {
		border: 0;
	}
	
	.form-control{
		&:focus{
			box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
		}
	}
	
	a{
		color: $links-color;
		
		&:hover, &:focus, &:active{
			text-decoration: none;
			color: $links-color-active;
		}
	}
	
	.btn {
		&.btn-primary-light{
			@extend .btn-primary;
			background-color: $links-color;
		}
	}
}