@import "~bootstrap/scss/bootstrap-grid.scss";

.user-details{
	margin-top: 15px;
	
	h4{
		text-align: center;
	}

	.details-avatar-wrapper{
		text-align: center;

		img{
			width: 130px;
			height: 130px;
			border-radius: 100%;
		}
	}
	
	.info-wrapper{
		margin-top: 20px;
		
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}