@import "~bootstrap/scss/bootstrap-grid.scss";

.user-details{
	margin-top: 15px;
	
	.edit-btn{
		float: right;
		
		@include media-breakpoint-down(xs) {
			float: none;
			display: block;
			margin-top: 5px;
			width: 100%;
		}
	}
	
	.avatar-wrapper{
		text-align: center;
	}
	
	.info-wrapper{
		margin-top: 20px;
		
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}